@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 20;
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background: rgb(235,199,55);
  background: linear-gradient(25deg, rgba(235,199,55,1) 0%, rgba(213,202,77,1) 11%, rgba(149,211,115,1) 23%, rgba(100,217,138,1) 36%, rgba(60,221,162,1) 48%, rgba(51,210,178,1) 61%, rgba(47,204,191,1) 74%, rgba(43,194,214,1) 87%, rgba(35,191,219,1) 100%);
}